* {
  font-family: 'Nunito Sans', sans-serif;
}

#page {
  padding-top: 5rem;
  background-color: #ffffff;
}

.imgcard img {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card:hover .imgcard img {
  border-color: #DD5353;
  transition: .7s;
}

a:hover {
  color: #DD5353;
}

ul li.active a {
  background: #DD5353;
  color: #262626;
  border-radius: 5px;
}

#tentang {
  color: #ffffff;
  padding-top: 5rem;
  background-color: #DD5353;
}

#profilkami {
  padding-top: 5rem;
}

.card {
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
  overflow: hidden;
  border-bottom: 15px;
  cursor: pointer;
}

.img1 img {
  height: 200px;
  width: 100%;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -100px;
}

.card:hover .img2 img {
  border-color: #DD5353;
  transition: .7s;
}

.main-text {
  padding: 30px 0;
  text-align: center;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
  color: #DD5353;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
}

.main{
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-instagram{
    color: #DD5353;
}
.ig:hover{
    background: #DD5353;
}

.icon .fa-linkedin-in{
    color: #DD5353;
}
.lnk:hover{
    background: #DD5353;
}

.icon .fa-arrow-left{
  color: #DD5353;
}
.kembali:hover {
  background: #DD5353;
}

.icon .fa-arrow-right{
  color: #DD5353;
}
.kembali:hover {
  background: #DD5353;
}


#kontak {
  color: #ffffff;
  padding-top: 5rem;
  background-color: #DD5353;
}

#form {
  background-color: #DD5353;
  padding-top: 7rem;
}

.index-btn-wrapper{
  display: flex;
}

.index-btn{
  margin: 20px 15px 0 0;
  background: #DD5353;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.index-btn:hover{
  opacity: 0.8;
}

.step {
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 0 10px;
  color: white;
  background: #DD5353;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.25;
}


.bi {
  color: #ffffff;
  font-size: 2rem;
}

/* BMI Calculator */
#bmi {
  padding-top: 7rem;
  background: #DD5353;
}

.content {
  padding: 20px 40px;
}

.input {
  background: #fff;
  border-radius: 28px;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align  : center;
}

.input label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #DD5353;
  width: 60%;
  text-align: center;
  font-size: 28px;
}

button#hitung {
  color: #fff;
  background: #DD5353;
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: all 0.2s ease;
}

.hasil {
  padding: 30px 20px;
  text-align: center;
}

.hasil p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
  text-align: center;
}

.hasil #hasil {
  font-size: 36px;
  font-weight: 900;
  color: #DD5353;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#komentar {
  color: #DD5353;
  font-weight: 800;
}